<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">Active</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="catalog:${catalogs}" style="cursor: pointer" th:hx-get="@{'/catalogs/' + ${catalog.id}}" hx-target="#main_container">
            <td th:text="${catalog.id}"></td>
            <td th:text="${catalog.name}"></td>
            <td th:text="${catalog.active}"></td>
            <td th:text="${catalog.description}"></td>
        </tr>
        </tbody>
    </table>
</div>