<div>
  <form hx-post="/tracks" hx-target="#main_container">
    <fieldset>
        <legend>Create track</legend>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="externalReferenceId" class="form-label">External Reference Id</label>
            <input type="number" class="form-control" id="externalReferenceId" name="externalReferenceId" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="mb-3">
            <label for="customerName" class="form-label">Customer Name</label>
            <input type="text" class="form-control" id="customerName" name="customerName" required>
        </div>
        <div class="mb-3">
            <label for="customerEmail" class="form-label">Customer Email</label>
            <input type="text" class="form-control" id="customerEmail" name="customerEmail" required>
        </div>
        <button type="submit" class="button-9" role="button">Create</button>
    </fieldset>
  </form>
</div>