<div>
    <div class="card" style="margin-bottom:20px;padding:10px;border:none;">
        <h6 class="card-header d-flex justify-content-between align-items-center">
            Products
            <button type="button" class="btn btn-sm btn-info" th:hx-post="@{'/products/page/create'}" hx-target="#main_container">Create Product</button>
        </h6>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>product Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Is active</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.active}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>