<div class="card" style="margin-bottom:20px;padding:10px;border:none;" id="stores_table">
    <h6 class="card-header d-flex justify-content-between align-items-center">
        Stores
        <button type="button" class="btn btn-sm btn-info" th:hx-post="@{'/stores/page/create'}" hx-target="#main_container">Create Store</button>
    </h6>
    <div class="card-body">
        <div>
            <table class="table table-hover table-bordered table-sm" style="cursor:pointer;">
                <tr>
                    <th>Store Name</th>
                    <th>City</th>
                    <th>Active</th>
                    <th>Created date</th>
                </tr>
                <tr th:each="store : ${stores}" th:hx-get="@{'/stores/' + ${store.id}}" hx-target="#main_container">
                    <td th:text="${store.name}"></td>
                    <td th:text="${store.address.city}"></td>
                    <td th:text="${store.active}"></td>
                    <td th:text="${store.createdAt}"></td>
                </tr>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item ${prev_disabled}">
                        <a class="page-link" th:hx-get="@{'/stores/list?page=' + ${prev_page}}" hx-target="#stores_table" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item ${next_disabled}">
                        <a class="page-link" th:hx-get="@{'/stores/list?page=' + ${next_page}}" hx-target="#stores_table">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
